@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 25%
    left: 1%
    width: 90px
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%
    width: 90px
  &-3
    animation: float1 2s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 20%
    width: 100px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.banner-principal .tarjeta
  background-position: left 50% !important
  @media screen and (max-width: 1200px)
    background-image: url("../assets/curso/portada/fondo-banner-principal-md.png") !important
  @media screen and (max-width: 768px)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-principal-int.png") !important

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important

.banner-principal__row .banner-principal__img
  width: 360px !important
  padding-bottom: 0 !important
  padding-top: 0 !important
  @media screen and (max-width: 1200px)
    width: 380px !important
  @media screen and (min-width: 1400px)
    width: 400px !important

.banner-interno__titulo__icono i
  color: $color-sistema-texto

.titulo-principal__numero span
  color: $color-sistema-texto !important

/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em !important

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em !important
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em !important

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em !important

/// intro
.caja-1
  background-color: #CBF4EB
  padding-right: 2rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    img
      margin: 0rem !important
      padding: 0rem !important
.caja-1_p
  @media screen and (max-width: 1200px)
    padding: 2rem

/// tema 1
.caja-2
  background-color: #E2DDF9
  border-radius: 14px
  padding: 1rem 2rem
  @media screen and (max-width: 1200px)
    padding: 2rem
  @media screen and (min-width: 1400px)
    padding: 1rem 2rem
.fit___bottom
  align-self: end

.bg-slider
  background-image: url("../assets/curso/temas/bg/img1.jpg") !important
  background-repeat: no-repeat
  background-size: cover
  margin-inline: -3.2rem !important
  padding: 3rem 0rem

.slyder-a__item
  padding: 4rem 3rem 1rem 4rem !important
.slyder-a__tipo-b
  padding: 0rem 2rem 2rem 2rem !important
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: $color-acento-botones
.slyder-a__bullets__item 
  background-color: #D2F6EE !important
  border: 0px
.slyder-a__bullets__item--active
  background-color: #7FE5CF !important
.slyder-a__bullets__item
  @media screen and (max-width: 768px)
    width: 10px !important
    height: 10px !important
    margin: 0.2rem
.ajuste-slider
  border-radius: 20px
  background-color: white
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4)

.bg-1
  background-image: url("../assets/curso/temas/bg/img2.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.tabla-a
  width: 100% !important
  overflow-x: auto
  -webkit-overflow-scrolling: touch
  table
    border-collapse: collapse
    width: 100%
    min-width: 500px
    table-layout: auto 
  thead
    border-top: 0px solid #B18C32 !important
    background-color: $color-acento-contenido !important
  tbody
    border: none !important
    background-color: white !important
  td
    border: none
    padding: 1rem
  th
    padding: 1.5rem
    @media screen and (max-width: 1200px)
      padding: 0.5rem
.ajuste-border-tabla
  border-right: 1px solid #d5d5d5 !important
.ajuste-color-tabla
  background-color: #F6F6F6 !important
.texto-right
  text-align: right !important
.texto-left
  text-align: left !important
.text-weight-bold
  font-weight: bold

.acordion__accion__btn--a
  background-color: $color-acento-botones
.tarjeta--azul
  position: relative
  background-color: #E2DDF9
  width: 100%
  p
    padding-left: 4.3rem
  @media screen and (max-width: 1200px)
    width: 100%
    img
      padding-left: 3.5rem
.acordion__activo
  background-color: #FDFDCB
  h3
    color: $color-sistema-texto !important
.ajuste-cajaAcordion
  padding: 0rem 1rem 0rem 0rem
  ul
    padding: 0rem 3.3rem
    @media screen and (max-width: 1200px)
      padding: 0rem 2.3rem
  ol
    padding: 0rem 4.1rem
.ajuste-tabla-acordion
  padding-left: 4.3rem
  @media screen and (max-width: 1200px)
    padding-left: 4.3rem
.ajuste-vineta
  ul
    padding: 0rem 3.3rem

.bg-carrusel
  background-image: url("../assets/curso/temas/bg/img3.png")
  background-repeat: no-repeat
  background-size: 1150px
  margin-inline: -3.2rem !important
  background-position: center
  @media screen and (min-width: 1400px)
    background-size: 1330px

.tarjeta.color-acento-botones
  background-color: white
  padding: 4rem 2.5rem !important
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3)
  h4
    color: $color-sistema-texto
  p
    color: $color-sistema-texto
  i
    color: $color-sistema-texto
  b
    color: $color-sistema-texto
  li
    color: $color-sistema-texto
.horizontal-scroll__wrapper
  padding: 1rem 0.5rem
.fa-chevron-right
  color: $color-acento-botones
.fa-chevron-left
  color: $color-acento-botones
.estilo-text
  background-color: white
  text-align: center
  padding: 0.3rem
.slyder-f__btn
  @media screen and (max-width: 576px)
    width: 100% !important
    padding: 0rem !important
.slyder-f__btn i
  font-size: 1.3rem
  display: flex
  justify-content: center
  background-color: $color-acento-botones
  color: $color-sistema-texto
  border-radius: 100% 
  padding: 1rem 1.7rem 
  @media screen and (max-width: 576px)
    font-size: 1rem !important
    padding: 0.5rem 1rem !important
  @media screen and (max-width: 1200px)
    font-size: 1.2rem
    padding: 1rem 1.6rem
  @media screen and (min-width: 1400px)
    font-size: 1.2rem !important
    padding: 1rem 1.6rem !important
.slyder-f__btn i:hover
  background-color: $color-acento-botones
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3)
  border: 1px solid white
  transition: opacity 0.3s ease-in-outbox-shadow 0.3s ease-in-out

/// tema 2
.bg-2
  background-image: url("../assets/curso/temas/bg/img4.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.tabs-c__tab--active
  font-weight: bold
.tabs-c__content-item
  background-color: #E5F9F5
  padding: 2rem
.tabs-c
  border-bottom: none !important

/// tema 3
.caja-3
  background-color: #3F7266
  padding: 3rem 1.5rem
  border-radius: 20px
  h4
    color: $white
  @media screen and (max-width: 1200px)
    padding: 1.5rem
.tarjeta-audio__texto
  color: $color-sistema-texto !important
  margin-bottom: 2rem !important
  font-style: normal !important
.tarjeta-audio
  background-color: white
  border-radius: 10px
  border: 3px solid $color-primario !important
  padding: 1rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem
.tarjeta-audio.color-acento-contenido .tarjeta-audio__input input[type=range]
  background: rgb(255, 233, 181)
  background-image: linear-gradient(#FF9B08, #FF9B08) !important
.audio__btn
  background-color: $color-acento-contenido !important

.tarjeta.color-acento-botones.fit___card-sinbordes
  border-radius: 15px !important
  padding: 0px !important
  h4
    padding: 0rem 1.5rem !important
    color: $color-sistema-texto
  p
    padding: 0rem 1.5rem 2rem 1.5rem !important
    color: $color-sistema-texto

/// tema 4
.titulo-tercer-nivel
  width: fit-content
  max-width: 100%
  position: relative
  display: inline-flex
  align-items: center
  background-color: $color-acento-contenido
  border-radius: 6px
  padding-right: 10px
  padding-left: 52px
  min-height: 48px
  @media screen and (max-width: $bp-min-md)
    padding-left: 10px
  &__icon
    position: absolute
    left: 15px
    top: 54%
    transform: translateY(-50%)
    width: 55px
    max-width: 65px
    height: auto
    @media screen and (max-width: $bp-min-md)
      display: none
  &__text
    margin: 0
    margin: 0 15px 0 35px
    white-space: normal
    word-break: break-word

.caja-4
  background-color: #CBF4EB
  padding-left: 2rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    img
      margin: 0rem !important
      padding: 0rem !important

.bg-3
  background-image: url("../assets/curso/temas/bg/img4.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  background-position: center
  @media screen and (min-width: 1400px)
    background-size: 1325px

.caja-5
  background-color: #3F7266
  border-radius: 11px
  padding: 1.5rem
  p
    color: white 
  h4
    color: #F7F700
.texto-negro
  span
    color: $color-sistema-texto !important
  i
    color: $color-sistema-texto !important

/// ajustes
.ajustes-1
  padding: 0.5rem 2rem !important
  @media screen and (max-width: 1200px)
    padding: 2rem !important
  @media screen and (min-width: 1400px)
    padding: 2.5rem 2rem !important

.ajustes-2
  padding: 1rem 2rem !important
  @media screen and (max-width: 1200px)
    padding: 2rem !important
  @media screen and (min-width: 1400px)
    padding: 3.2rem 2rem !important

.ajustes-3
  padding: 0.5rem 2rem !important
  @media screen and (max-width: 1200px)
    padding: 2rem !important
  @media screen and (min-width: 1400px)
    padding: 1.9rem 2rem !important

.ajustes-4
  padding: 1.7rem 2rem !important
  @media screen and (max-width: 1200px)
    padding: 2rem !important
  @media screen and (min-width: 1400px)
    padding: 3.5rem 2rem !important

.ajustes-5
  padding: 0.5rem 2rem !important
  @media screen and (max-width: 1200px)
    padding: 2rem !important
  @media screen and (min-width: 1400px)
    padding: 1.4rem 2rem !important























